
# para acelelerar procesos de instalacionº
uv
# para instalar el kernel del entorno en jupyter
ipykernel
# para manejar variables de entorno
python-dotenv

openai

langchain
langchain-openai
langchain-community
pymupdf
py2pdf

rank_bm25

pytest